body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;       
}
h1{
    font-size: 50px;    
}
h2{
    font-size: 35px;
    
}

#tomato-color{
    color: tomato;
}
#green-color{
    color:yellowgreen;
}
.half-width{

    width: 50%;
    margin: 2%;
    padding: 30px;
}
.half-width img{
    width: 80%;
}
.flexible-containt{
    display: flex;
    margin-bottom: 150px;    
}
.font-color{
    color: rgb(88, 88, 88);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right, orange, tomato);
    color: white;
    font-size: 16px ;
    font-weight: 600;
    padding: 15px;
    border:none;
    border-radius: 20px;
    margin: none;
    width: 150px;
   
}
#background-img{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-size: cover;
}
.center{
    text-align: center;
}

